#newButton{
    width: 100%;

}
#newDiv{
    width: 100%;
    height: 110px;
    background: #efefef;
    border-radius: 25px;
    padding: 20px;
    display: inline-block;
}
#numDiv{
    display: inline;
    width: 25px;
    height: 25px;
    background: rgb(76, 76, 248);
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 3px 6px 3px 6px;
}
#newLink{
    display: inline;
    font-size: 26px;
    font-weight: bold;
    color:rgb(76, 76, 248);
    padding-left: 20px;
}
#author{
    font-weight: bold;
    color: rgb(76, 76, 248);
    
}